{{page-title 'Archived Users'}}
<div class="container">
  <div class="columns is-centered">
	<h1 align="center"> Active users</h1>
    {{#each @model as |user|}}
      <div class="column">
	  {{#if user.value}}
        <LinkTo @route="users.user" @model={{user}}>
          <div class="user-select is-220px">
            <img
              class="is-pulled-left"
              src={{user.image}}
              width="60px"
              alt="profile-image"
            />
            <p> {{user.name}}</p>
			
          </div>
        </LinkTo>
		{{/if}}
      </div>
    {{/each}}
	<br />
	<LinkTo @route="users">
        <button class="button mb-2" type="button">
          Back to users
        </button>
      </LinkTo>
  </div>
</div>